:root {
  --primary-color: #0066ff;
  --action-color: #dd6b20;
  --primary-bg: #3d3d3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3d3d3d;
  height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: 7.5rem auto;
  height: 100%;
}

main {
  background: var(--primary-bg);
  height: 100%;
}

a.active {
  color: var(--action-color);
}

p {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
