.cards-list {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cards-list li {
  width: 100%;
  max-width: 55rem;
  height: 12rem;
  list-style: none;
}
