.cards-list {
  width: 90%;
  max-width: 80rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cards-list li {
  list-style: none;
}
