.container {
  height: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.upper-container {
  height: 50%;
  position: relative;
  background: var(--primary-color);
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.bottom-container {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(61, 61, 61, 0.75);
}

.bottom-container li {
  list-style: none;
  color: #fff;
  text-decoration: underline;
  font-weight: 700;
}

.bottom-container a:hover {
  color: var(--action-color);
}

.bottom-container a:focus-visible {
  outline: 0.1rem solid var(--action-color);
}

.right-side {
  position: absolute;
  right: 1rem;
}

.right-side div {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.search-btn {
  cursor: pointer;
}

.search-btn svg {
  color: #fff;
}

.search-btn:hover svg {
  color: var(--action-color);
}

.sign-in-btn {
  display: none;
}

.sign-in-btn a:focus-visible {
  outline: none;
}

.cart-btn svg {
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.cart-btn:hover svg,
.cart-btn:active svg {
  color: var(--action-color);
}

.cart-btn span {
  position: relative;
  background: var(--action-color);
  padding: 0.3rem;
  margin-left: 0.8rem;
  border: 0.1rem solid var(--action-color);
  border-radius: 0.2rem;
  color: #fff;
}

.cart-btn span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -0.5rem;
  top: 50%;
  translate: 0 -50%;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid var(--action-color);
}

@media (min-width: 48rem) {
  .upper-container {
    justify-content: space-around;
  }

  .right-side {
    position: static;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .right-side div {
    display: flex;
  }

  .sign-in-btn {
    font-weight: 700;
  }

  .cart-btn {
    position: static;
    right: 0;
  }
}
