.container {
  position: fixed;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top: 0.1rem solid #fff;
}

.sign-in-btn {
  border-radius: 50%;
  border: 0.1rem solid var(--action-color);
}

.search-btn svg,
.menu-btn svg {
  color: #fff;
  font-size: 1.3rem;
}

.search-btn:hover svg,
.search-btn:active svg,
.menu-btn:hover svg,
.menu-btn:active svg {
  color: var(--action-color);
}

@media (min-width: 48rem) {
  .container {
    display: none;
  }
}
